<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <Link rel="stylesheet" href="/static/css/main.css">
        <link rel="icon" type="image/png" href="Senior syllabus-2.png">

    <title>ACADEMIC_BOOK</title>
</head>
<body class="bg-chatbox-50">
        <div class="flex h-[100vh] text-white">
            <div class="left bg-[#af82c6] w-2/12">
                <div class="right w-10/12 flex justify-center items-center flex-col">
                    <div class=" align-content: center w-full text-4xl font-bold my-10">
                        
                      academic chat
    </div></div>
</body>
</html>